parameters:
  paths:
    - config
    - database
    - src

  level: 0

  ignoreErrors:
    - "#Unsafe usage of new static\\(\\)#"
    - "#\\(void\\) is used.#"
    - "#Class App\\\\Http\\\\Middleware\\\\VerifyCsrfToken not found#"
    - "#Class App\\\\Http\\\\Middleware\\\\EncryptCookies not found#"
