<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Sanctum Test Suite">
            <directory suffix=".php">./tests/Unit</directory>
            <directory suffix=".php">./tests/Controller</directory>
            <directory suffix=".php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
</phpunit>
